<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" [(ngModel)]="num" placeholder="полка"/>
                <button class="btn btn-default" (click)="addBoard(num)">Новая полка</button>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <button class="btn btn-default" (click)="refresh()">findBoards</button>
            </div>
        </div>
    </div>
    <table class="table table-striped" cellspacing="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Board number</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let board of boards">
            <td>{{board?.id}}</td>
            <td>{{board?.number}}</td>
        </tr>
        </tbody>
    </table>
</div>