<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <button class="btn btn-default" (click)="refresh()">findBooks</button>
            </div>
        </div>
    </div>
    <table class="table table-striped" cellspacing="10">
        <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books">
            <td>{{book?.tittle}}</td>
            <td>{{book?.author}}</td>
        </tr>
        </tbody>
    </table>
</div>