<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" [(ngModel)]="name" placeholder="имя пользователя"/>
                <button class="btn btn-default" (click)="createUser(name)">Создать пользователя</button>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" [(ngModel)]="id" placeholder="id пользователя"/>
                <button class="btn btn-default" (click)="deleteById(id)">Удалить пользователя</button>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <button class="btn btn-default" (click)="refresh()">findUsers</button>
            </div>
        </div>
    </div>
    <table class="table table-striped" cellspacing="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>User name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user?.id}}</td>
            <td>{{user?.name}}</td>
        </tr>
        </tbody>
    </table>
</div>