<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <button class="btn btn-default" (click)="ngOnInit()">findUsers</button>
            </div>
        </div>
    </div>
    <table class="table table-striped" cellspacing="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>User name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user?.id}}</td>
            <td>{{user?.name}}</td>
        </tr>
        </tbody>
    </table>
</div>